@import "compass/css3";
body{
  background-color: #192a56;
}
.center{
  text-align: center;
}
.card{
  background-color: #273c75;
  transition: all 1s linear;
}
.card:hover{
  transform: scale(1.005);
  box-shadow: 0px 0px 15px #40739e;
  transition: transform 1s linear,  box-shadow 0.5s linear;
}
.customCard{
  width: 16rem; 
  height: 16rem;
  margin-bottom: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.customCard > .card-body>.card-title{
  font-size:2.2rem;
}
.title{
  color: white;
  font-size: 5rem;
}